<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @chat_room.name %>
</h1>

<h2>
  <%= @chat_room.comment %>
</h2>
<% @messages = Chat.where(chat_room_id:@chat_room.id) %>
<% @messages.each do |message| %>
  <strong><font size = "3"><%= User.find(message.user_id).name %></font></strong>
&nbsp;&nbsp;&nbsp;
  <font size="4">
	<% @sp_mes = message.message.scan(/.{1,20}/) %>
	<% @sp_mes.each_with_index do |m, index| %>
	  <%= m %>
	  <% if index != @sp_mes.size - 1 %>
	    <br>
	  <% end %>
	<% end %>
  </font>
  &nbsp;
  <font size="1"> <%= message.created_at %> </font>
  <br>
<% end %>
<%= render 'chats/form', chat: Chat.new , chat_room_id: @id%>

<%= link_to 'Edit', edit_chat_room_path(@chat_room) %> |
<%= link_to 'Back', chat_rooms_path %>
