<p id="notice"><%= notice %></p>

<h1>User List</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>State</th>
      <th>Chat room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<!--
    Test of creat/deletion of Participant instance
    <% @r= ChatRoom.order("id ASC")%>
    <% @u= User.order("id ASC")%>
    <% @r.each do |room| %>
    <% @u.each do |user| %>
    　　 (Create new record)
    
    <#%Participant.create(user: user,chat_room: room)%>
    (Delete record)
    <#%Participant.where(user:user.id).where(chat_room:room.id).destroy_all%>
    <#%if user_signed_in? then%>
    <#%= user_signed_in? %>
    <%#end%>
    <%end%>
    <%#= room.id%>
    <%end%>
   -->
    <% @u2= User.where(id: 2) 
   @u2.update(online: false)
    %>
    
    <% @users= User.order("id ASC")%>
    <% @users.each do |user| %>
    	<% @bool=true%>
    	<tr>
	    <td><%= user.name %></td>
	    <td><% if(user.online)%>
	     	online
	     	<% @participants.each do |participant| %>
	     		<%if(user.id==participant.user.id)then%>
			     	<%if(!@bool)then%>
				     	<tr><td></td> <td></td>
			     	<%end%>
			     	<%@bool=false%>
			        <td><%= participant.chat_room.name %></td>
			        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        </tr>
			    <%end%>
		    <% end %>
	    <% else%>
	      	offline</tr>
	    <% end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
