
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">
      <%= link_to image_tag('SugChat_logo.png'), chat_rooms_path %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to chat_rooms_path do %>
            <i class="fa fa-clone nav-link">Room List</i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to chats_path do %>
            <i class="fa fa-comments nav-link">Chats Log</i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path do %>
            <i class="fa fa-address-book nav-link">User List</i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_chat_room_path do %>
            <i class="fa fa-home nav-link">New Room</i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to participants_path do %>
            <i class="fa fa-users nav-link">Participants</i>
          <% end %>
        </li>
      </ul>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User Menu
      </button>
      <div id ="bg-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if user_signed_in? %>
        <span class="dropdown-text">Signed in as</span> <%= current_user.name %>
          <%= link_to 'Sign Out', destroy_user_session_path, :class => "dropdown-item", :method => :delete, :confirm => "Are you sure?" %>
        <% else %>
          <p class="dropdown-text">Welcome Guest!</p>
          <%= link_to 'Sign In', :class => "dropdown-item", :url => new_user_session_path %>
          <br>
          <%= link_to 'Sign Up', :class => "dropdown-item", :method => :get, :url => new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
  </nav>
